<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <link rel="stylesheet" href="{% static 'css/treefinder.css' %}">
    <script src="http://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>TreeFinder</title>
    <title>Places search box</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
<div class="page-header">
            <a href="{% url 'TreeFinder.views.treefinder' %}" class="top-menu"></a>
            <h1><a href="/"><img src="/static/TreeFinderlogo.png"></a></h1>
</div>

      <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '396873737185359',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=396873737185359";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% block content %}
    <!-- EXTENSION CODE HERE-->
{% endblock %}

</body>
</html>